@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import "react-datepicker/dist/react-datepicker.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat";
  list-style: none;
  outline: none;
  text-decoration: none;
}
.react-datepicker__header {
  background-color: rgba(0, 0, 0, 0.02);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
